/* FONTS */
@font-face {
  font-family: "Gilmer Heavy";
  src: url("Fonts/Gilmer-Heavy.otf");
}
@font-face {
  font-family: "Gilmer Bold";
  src: url("Fonts/Gilmer-Bold.ttf");
}
@font-face {
  font-family: "Gilmer Medium";
  src: url("Fonts/Gilmer-Medium.ttf");
}
@font-face {
  font-family: "Gilmer Regular";
  src: url("Fonts/Gilmer-Regular.otf");
}
@font-face {
  font-family: "Gilmer Light";
  src: url("Fonts/Gilmer-Light.ttf");
}
@font-face {
  font-family: "Gilmer Outline";
  src: url("Fonts/Gilmer-Outline.otf");
}
/* END OF FONTS */


/* GENERAL STYLES */
* { 
  box-sizing: border-box
}
html{
  scroll-behavior: smooth;
}
body {
  transition: background 1s ease;
  margin: 0;
  font-family: "Gilmer Medium";
  background-color: #F3F8FC;
  color: #252525;
}
h1,h2,h3,h4,p{
    color: #252525;
}
h1{
  font-size: 3.4rem;
  font-family: "Gilmer Bold";
  margin: 0;
  padding: 0;
}
h2{
  font-size: 2.8rem;
  font-family: "Gilmer Bold";
  margin: 0;
  padding: 20px 0px;
}
h3{
  font-size: 1.5rem;
  font-family: "Gilmer Bold";
  margin: 0;
  padding: 0px 0px 7px 0px;
}
h4{
  font-size: 1.2rem;
  font-family: "Gilmer Bold";
  margin: 0;
  padding: 5px 0px;
  font-size: 1.2rem;
}
.heavy{
  font-family: "Gilmer-Heavy";
}

.unselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
ul{
  margin: 0;
  padding: 0;
}
p{
  display: table-cell;
  vertical-align: middle; 
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
  font-family: "Gilmer Medium";
  text-align: left;
  font-size: 1.1rem;
}
li{
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #252525;
}
/* END OF GENERAL STYLES */


/* NAV BAR */
nav{
  font-family: "Gilmer Bold";
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

nav{
  display: grid;
  transition: background 1s ease;
  align-items:center;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  height: 80px;
  transition: background 1s ease;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgba(0,0,0,.5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: .95rem;
}

  /* SOCIAL MEDIA LINKS */
#socials{
  display: flex;
  padding: 15px 0px 15px 30px;
  flex-direction: row;
}

#socials div{
  margin: 0px 15px 0px 0px; 
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socials img{
  width: 30px;
  height: 30px;
}

#socials a{
  text-decoration: none;
  display: block;
}
/* END OF NAV BAR */


nav li.active a {
    border-top: 3px solid #252525;
    color: #252525;
}
/* ABOUT SECTION */
.intro{
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 10%;
  width: 70%;
}
.intro p{
  text-align: left;
  font-family: "Gilmer Medium";
  margin: 30px 0px;
  font-size: 1.2rem;
}
/*biohashtags = descriptive tags*/
#bioHashtags span{
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: background-color .5s ease;
}

#bioHashtags span:hover{
  background-color: white;
}
/* END OF ABOUT SECTION */


/* EXPERIENCE SECTION */
.experience{
  margin: 0 auto;
  width: 70%;
}
.experience-link{
  text-decoration: none;
}
.experience-link:hover{
  text-decoration: underline;
}
.experience-chunk{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255,255,255,.6);
  transition: box-shadow .3s ease;
  justify-content: top;
  box-shadow: 0 2px 4px 0 rgba(190, 112, 112, 0.05), 0 3px 10px 0 rgba(190, 112, 112, 0.05);
}
@media only screen and (max-width: 600px) {
  .experience-chunk{
    flex-direction: column;
  }
}
.experience-chunk:hover{
  box-shadow: 0px 0px 10px rgba(255, 41, 41, 0.25);
}
.experience li a{
  color: #3864FF;
}
.emoji{
  font-size: 2rem;
  padding: 0px 40px 10px 0px;
}
/* END OF EXPERIENCES SECTION */


/* PROJECTS SECTION */
.projects{
  margin: 0 auto;
  width: 70%;
}
.project-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .project-list{
    grid-template-columns: repeat(1, 1fr);
  }
}
.project-list div{
  width: auto;
  height: 200px;
  background-color: rgba(255,255,255,.6);
  border-radius: 30px;
  transition: box-shadow .3s ease;
  box-shadow: 0 2px 4px 0 rgba(190, 112, 112, 0.05), 0 3px 10px 0 rgba(190, 112, 112, 0.05);
}
.project-list div:hover{
  box-shadow: 0px 0px 10px rgba(61, 177, 139, 0.25);
}
/* END OF PROJECT SECTION */


/*SKILLS SECTION*/
.skills{
  margin: 0 auto;
  width: 70%;
}
.skill-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;

}
@media only screen and (max-width: 600px) {
  .skill-list{
    grid-template-columns: repeat(1, 1fr);
  }
}
.skill{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 15px;
  transition: box-shadow .3s ease;
  background-color: rgba(255,255,255,.7);
  box-shadow: 0 2px 4px 0 rgba(190, 112, 112, 0.05), 0 3px 10px 0 rgba(190, 112, 112, 0.05);
}
.skill .name{
  margin-right: 15px;
}
.skill:hover{
  box-shadow: 0px 0px 10px rgba(255, 175, 14, 0.4);
}
.circles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.circles div{
  width: 20px;
  border-radius: 30px;
  height: 20px;
  background-color: #F5C471;
}
/* END OF SKILLS SECTION */


/* CONTACT SECTION */
.contact{
  margin: 0 auto;
  width: 70%;
}
.clear {
  clear: both;
}
/* END OF CONTACT SECTION */


/* FOOTER */
footer{
  text-align: center;
  padding: 50px 0px;
}
/* END OF FOOTER */
